<h1> Издательство "<%=h @press.full_name %>" </h1>

<p><strong><%= t('activerecord.attributes.press.website_url') %>:</strong>
  <%= @press.website_url.blank? ? t('gui.no_info') : link_to(@press.website_url, @press.website_url) %>
</p>

<p><strong><%= t('activerecord.attributes.press.description') %></strong>
  <%=  @press.website_url.blank? ? t('gui.no_info') : @press.description.html_safe %>
</p>

<%= link_to 'Назад', :back || admin_path -%>

<p><strong>Продукты издательства '<%= @press.full_name %>':</strong></p>
<%= render :partial => "shared/products.html.erb", :locals => {:products => @press.products.active, :taxon => nil } %>

<% content_for :sidebar do %>
  <%= render "shared/taxonomies" %>
<% end %>
