<% f.field_container :name do %>
  <%= f.label :name, t("name") %> <span class="required">*</span><br />
  <%= f.text_field :name, :class => 'fullwidth title'  %>
  <%= f.error_message_on :name %>
<% end %>

<% f.field_container :permalink do %>
  <%= f.label :permalink, t("permalink") %><br />
  <%= f.text_field :permalink, :class => 'fullwidth title'  %>
  <%= f.error_message_on :permalink %>
<% end %>

<% f.field_container :description do %>
  <%= f.label :description, t("description")%><br />
  <%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
  <%= f.error_message_on :description %>
<% end %>
<% f.field_container :meta_keywords do %>
  <%= f.label :meta_keywords, t("meta_keywords")%><br />
  <%= f.text_field :meta_keywords, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
  <%= f.error_message_on :meta_keywords %>
<% end %>
<% f.field_container :meta_description do %>
  <%= f.label :meta_description, t("meta_description")%><br />
  <%= f.text_field :meta_description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
  <%= f.error_message_on :meta_description %>
<% end %>
