<% render :partial => 'admin/shared/product_sub_menu' %>
<h1><%= "#{t("actions.listing")} #{t("activerecord.models.product_series")}" %></h1>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_ot_link">
      <%= button_link_to t("new_product_series"), new_object_url, :icon => 'add' %>
    </li>
  </ul>
  <br class='clear' />
</div>

<table class="index">
  <tr>
    <th><%= sort_link @search, :by => :name, :as => t("name") %></th>
    <th>
    </th>
  </tr>
  <% @collection.each do |product_series| %>
    <tr id="<%= dom_id product_series %>">
      <%- locals = {:product_series => product_series} -%>
      <td><%= product_series.name %></td>
      <td class="actions">
        <%= link_to_edit product_series   %>
        &nbsp;
        <%= link_to_delete product_series   %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

<% content_for :sidebar do %>

  <% form_for [:admin, @search] do |f| %>
    <div class="box">
      <h3><%= t(:search) %></h3>

      <%- locals = {:f => f} -%>
      <p>
        <label><%= t("name") %></label><br />
        <%= f.text_field :name_contains, :size => 15 %>
      </p>

      <p class="form-buttons">
        <%= button t("search") %>
      </p>
    </div>
  <% end %>

<% end %>

